In [ ]:
import pandas as pd

In [26]:
# load in messy_strings.csv

df_raw = pd.read_csv("messy_strings.csv")

df_raw["raw"]

0             BOB(
1          dana~
2            {EVE/
3        "ALICE
4              BOB
5             DANA
6          CHARLIE
7         alice
8            FRANK
9              bob
10             eve
11          \dana'
12             EVE
13        CHARLIE
14            -eve
15          bob
16             EVE
17       .FRANK
18            eve
19             EVE
20            BOB&
21        charlie"
22      ,charlie
23           EVE
24           ]dana
25       charlie
26          alice+
27           EVE{
28            DANA
29         frank
30        CHARLIE!
31        |ALICE#
32             BOB
33          frank^
34           alice
35            'bob
36         CHARLIE
37           eve+
38        CHARLIE
39         charlie
40           dana#
41         DANA
42            dana
43         CHARLIE
44      =charlie!
45          bob
46             bob
47         ;EVE
48      =charlie
49            dana
Name: raw, dtype: object

In [ ]:
def clean_strings(df_raw):
    df_raw = df_raw.str.lower()
    df_raw = df_raw.str.replace("[^a-z]", "", regex=True)
    df_raw = df_raw.dropna()
    

    return df_raw

In [61]:
df_clean = pd.DataFrame(columns=["clean"])

df_clean["clean"] = clean_strings(df_raw["raw"])
df_clean["clean"]

0         bob
1        dana
2         eve
3       alice
4         bob
5        dana
6     charlie
7       alice
8       frank
9         bob
10        eve
11       dana
12        eve
13    charlie
14        eve
15        bob
16        eve
17      frank
18        eve
19        eve
20        bob
21    charlie
22    charlie
23        eve
24       dana
25    charlie
26      alice
27        eve
28       dana
29      frank
30    charlie
31      alice
32        bob
33      frank
34      alice
35        bob
36    charlie
37        eve
38    charlie
39    charlie
40       dana
41       dana
42       dana
43    charlie
44    charlie
45        bob
46        bob
47        eve
48    charlie
49       dana
Name: clean, dtype: object